*.swp
*.*~
project.lock.json
.DS_Store
*.pyc
nupkg/

# Visual Studio Code
.vscode

# Rider
.idea

# User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
build/
bld/
[Bb]in/
[Oo]bj/
[Oo]ut/
msbuild.log
msbuild.err
msbuild.wrn

# Visual Studio 2015
.vs/
Live_Book/.vs/Live_Book/v17/.suo
*.pdb
Live_Book/DataLayer/obj/DataLayer.csproj.nuget.dgspec.json
*.props
*.cache
*.cache
*.cache
*.txt 
*.editorconfig
*.cache
*.pdb
Live_Book/Live_Book/obj/Debug/net6.0/Live_Book.csproj.FileListAbsolute.txt
Live_Book/Live_Book/bin/Debug/net6.0/Live_Book.staticwebassets.runtime.json
Live_Book/DataLayer/obj/project.assets.json
Live_Book/DataLayer/obj/Debug/net6.0/DataLayer.csproj.FileListAbsolute.txt
Live_Book/DataLayer/obj/DataLayer.csproj.nuget.dgspec.json
Live_Book/Live_Book/obj/Debug/net6.0/staticwebassets.build.json
Live_Book/Live_Book/obj/Debug/net6.0/staticwebassets.development.json
Live_Book/Live_Book/obj/Live_Book.csproj.nuget.dgspec.json
Live_Book/Live_Book/obj/project.assets.json
*.sentinel
Live_Book/DataLayer/obj/Debug/net6.0/DataLayer.csproj.AssemblyReference.cache
Live_Book/Live_Book/obj/Debug/net6.0/Live_Book.csproj.AssemblyReference.cache
Live_Book/Live_Book/bin/Debug/net6.0/appsettings.json
*.v2
*.vsidx
*.v2
*.1
*.1 
Live_Book/Live_Book/bin/Debug/net6.0/appsettings.json
Live_Book/Live_Book/obj/Debug/net6.0/ref/Live_Book.dll
Live_Book/Live_Book/obj/Debug/net6.0/refint/Live_Book.dll
