@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

    <li class="dropdown dropdown-user nav-item">
        <a class="dropdown-toggle nav-link dropdown-user-link" href="#" data-toggle="dropdown">
            <div class="user-nav d-sm-flex d-none">
                <span class="user-name">@User.Identity.Name</span>
            </div>
            <span>
                <img class="round" src="~/images/portrait/small/avatar-s-11.jpg" alt="avatar" height="40" width="40" />
            </span>
        </a>
        <div class="dropdown-menu pb-0">
            <a class="dropdown-item" asp-controller="Account" asp-action="ChangePassword"><i class="bx bx-user mr-50"></i> تغییر رمز عبور</a>
            <div class="dropdown-divider mb-0"></div>
            <a class="dropdown-item" asp-controller="Account" asp-action="Logout"><i class="bx bx-power-off mr-50"></i> خروج</a>
        </div>
    </li>
